/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | A/Esc|  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  | RET  |
            // | SHFT | Z/L |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |  '   |
            //                    | ALT | CMD | CTRL|               | LSP | RSP  |  \  |
            bindings = <
                &kp TAB         &kp Q &kp W &kp E &kp R &kp T &kp C_MUTE &kp C_PP &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &mt LEFT_ALT ESC &kp A &kp S &kp D &kp F &kp G &kp LALT   &kp RALT &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET
                &kp LSHFT       &lt 1 Z &kp X &kp C &kp V &kp B                     &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp SQT
                                           &kp LEFT_ALT &kp LCMD &kp LCTRL           &lt 1 SPACE &lt 2 SPACE &kp BACKSLASH
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        lower_layer {
            display-name = "NUMBER";
            // -----------------------------------------------------------------------------------------
            // |  TAB | BT1 | BT2 | BT3 | BT4 | BT5   |  LCTRL | RCTRL | Win'| WinL| WinU| WinD| WinR| BSPC |
            // | BOOT |     |     | DeskL| DeskR| Vol+|  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB |     |  App | Vol- |        |       |     |     |     | RST |     |      |
            //                    | GUI |     | SPC   |        | GUI   |     | SPC |
            bindings = <
                &kp TAB     &bt BT_SEL 0 &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4 &kp LCTRL &kp RCTRL &kp LA(LC(LG(SINGLE_QUOTE))) &kp LA(LC(LG(LEFT_ARROW))) &kp LA(LC(LG(UP_ARROW))) &kp LA(LC(LG(DOWN_ARROW))) &kp LA(LC(LG(RIGHT))) &kp BSPC
                &bootloader &trans       &trans          &kp LA(LG(LEFT)) &kp LA(LG(RIGHT)) &kp C_VOL_UP &kp LALT  &kp RALT  &kp LEFT                     &kp DOWN                  &kp UP                    &kp RIGHT                  &trans              &trans
                &kp LSHFT   &bt BT_CLR   &rgb_ug RGB_TOG &trans           &kp LG(LA(BACKSLASH)) &kp C_VOL_DN                 &trans   &trans   &trans                      &trans                    &trans                    &sys_reset
                                                               &kp LGUI    &trans           &kp SPACE                    &kp LGUI &trans   &kp SPACE
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  | LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // |      |  `  |  [  |  (  |  )  |  ]  | LALT  | RALT  |  *  |  -  |  +  |  =  |  >  | RET  |
            // | SHFT |  ~  |  |  |  {  |  }  |  &  |               |  !  |  _  |  ,  |  .  |  %  |  $   |
            //                    |  ^  |  @  |  #  |               | RET |     |  \  |
            bindings = <
                &kp TAB   &kp NUMBER_1          &kp NUMBER_2        &kp NUMBER_3          &kp NUMBER_4           &kp N5        &kp LCTRL &kp RCTRL &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp BACKSPACE
                &trans    &kp GRAVE             &kp LEFT_BRACKET    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET &kp LALT &kp RALT &kp ASTERISK    &kp MINUS     &kp PLUS     &kp EQUAL    &kp GT       &kp RET
                &kp LSHFT &kp TILDE             &kp PIPE            &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AMPERSAND                    &kp EXCLAMATION &kp UNDERSCORE &kp COMMA    &kp PERIOD   &kp PERCENT  &kp DOLLAR
                                                               &kp CARET &mt LEFT_GUI AT_SIGN &mt LCTRL HASH                  &kp RET &trans   &kp BACKSLASH
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };
    };
};
